div {
   //border: 1px solid white;
}

a,
p {
   font-size: 13px;
   font-family: arial, sans-serif;
   opacity: 0.75;
}

.shareDiv {
   height: 26px;
   width: 26px;
   position: relative;
   float: right;
   right: 33px;
   bottom: 54px;
}

.picNShare {
   width: 500px;
   margin: 0 auto;
}

.inline {
   display: inline-block;
}

.page {
   width: 100%;
   min-width: 980px;
   position: static;
}

.topNav {
   height: 30px;
   margin-top: 15px;
   width: 100%;
   min-width: inherit;
}

.topLinks {
   height: inherit;
   width: 295px;
   float: right;
   margin-right: 17px;
   position: relative;
}

.textLinks {
   display: inline-block;
   margin-top: 4px;
   margin-left: 52px;
}

.textLinkDiv {
   display: inline-block;
   /*padding-left: 15px;*/
   margin-top: -1px;
}

.gmailLinkDiv {
   width: 49px;
}

.imagesLinkDiv {
   width: 57px;
}

.textLink {
   color: #383838;
   padding-right: 10px;
   text-decoration: none;
}

.textLink:hover {
   text-decoration: underline;
   opacity: 1;
}

.appsLink {
   height: 30px;
   width: 30px;
   float: right;
   margin-top: -1px;
}

.appsImg {
   height: 25px;
   width: 25px;
   opacity: 0.6;
}

.opacity:hover {
   opacity: 0.8;
}

.bell {
   height: 30px;
   width: 30px;
   float: right;
   margin-left: 13px;
   margin-top: -1px;
   text-align: center;
}

.bellImg {
   border-radius: 100%;
   height: 21px;
   width: 21px;
   margin-top: 3px;
   opacity: 0.5;
}

.bigLetter {
   height: 33px;
   width: 33px;
   float: right;
   margin-left: 15px;
   margin-top: -3px;
   border-radius: 100%;
   text-align: center;
   background-color: #004D40;
}

.theLetter {
   position: relative;
   margin-top: 6px;
   font-size: 1.1em;
   font-weight: 100;
   color: white;
   opacity: 1;
}

.pictureBlock {
   height: 233px;
   text-align: center;
   margin-top: 40px;
}

.searchBlock {
   height: 128px;
   padding-right: 30px;
   padding-left: 30px;
}

.searchForm {
   height: inherit;
   padding-right: 208px;
   padding-left: 208px;
   text-align: center;
}

.inputDiv {
   border: 1px solid #D6D6D6;
   height: 30px;
   width: inherit;
   max-width: 600px;
   margin: auto;
   padding-right: 45px;
   padding-top: 10px;
   padding-left: 9px;
}

.inputDiv:hover {
   border-color: #b9b9b9;
   border-top-color: #a0a0a0;
}

.input {
   width: 100%;
   /*opacity: 0;*/
   font: 16px arial, sans-serif;
   border: none;
   resize: none;
}

.mic {
   height: 20px;
   float: right;
   margin-right: -31px;
   margin-top: -27px;
}

.input:focus {
   outline: 0;
}

.button {
   -webkit-appearance: push-button;
   white-space: pre;
   align-items: flex-start;
   background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
   border: 1px solid #f2f2f2;
   border-radius: 3px;
   font-family: arial, sans-serif;
   font-size: 13px;
   font-weight: bold;
   margin: 11px 4px;
   padding: 10px 16px;
   color: #757575;
}

.button:hover {
   border: 1px solid #c6c6c6;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   color: black;
}

.button:focus {
   outline: none;
   border: 1px solid #4784FE;
 }

.buttonDiv {
   margin-top: 18px;
}

.fLeft {
   float: left;
}

.fRight {
   float: right;
}

.fLink {
   padding-right: 27px;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   font-size: small;
}

.space {
   margin-left: 1px;
}

.footer {
   height: 45px;
   vertical-align: text-bottom;
   background-color: #F1F1F1;
   border-top: 1px solid #E2E2E2;
   margin: 0 -8px;
   padding-left: 27px;
   position: fixed;
   bottom: 0;
   width: 98%;
   padding-right: 0px;
}
